$height: 50px;
$side-width: 50px;

.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  height: $height;
  border: 1px solid gray;
  border-top: 0;

  &:hover {
  }
}

.left {
  padding: 0;
  width: $side-width;
}

.mid {
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  padding: 5px;
}

.right {
  width: $side-width;
}

.left, .right {
  box-sizing: border-box;
}
