@import '../../global_variables';

$height: 70px;
$action-width: 15px;

.root {
  text-decoration: none;
  color: inherit;
  background: white;
  height: $height;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;

  &:hover {
    background: $almost-white;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.creator {
  height: 100%;
  width: $height;
}

.content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    width: 100%;
  }

  > .title {
    font-size: 24px;
  }

  > .description {
    font-size: 14px;
  }
}

.actions {

  flex-direction: row;
  flex-grow: 0;

  @media (min-width: $screen-md) {
    display: none;

    &.active {
      display: flex;
      flex-grow: 0;
      flex-direction: row;
    }
  }
}
