@import "../layouts_variables";
@import "../../global_variables";

$item-min-width: 42px;

.root {
  width: 100vw;
  height: 42px;
  background: $theme-color;
  box-shadow: 0 0 5px #000000;
}

.container {
  width: $width-xs;
  height: 100%;
  padding: $padding-xs;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $screen-sm) {
    padding: $padding-sm;
    width: $width-sm;
    justify-content: space-between;
  }

  @media (min-width: $screen-md) {
    padding: $padding-md;
    width: $width-md;
    justify-content: space-between;
  }

  @media (min-width: $screen-lg) {
    padding: $padding-lg;
    width: $width-lg;
    justify-content: space-between;
  }
}

.brand {
  font-size: 2.1rem;
  color: white;
  text-decoration: inherit;
  cursor: pointer;
}

.items-container {
  min-width: $item-min-width;
  display: none;
  flex-direction: row;
  background: blue;
  align-self: right;

  @media (min-width: $screen-sm) {
    display: flex;
  }
}

.item {
  min-width: $item-min-width;
  background: purple;
  margin: 0 0 0 5px;

  &.left-end {
    margin-left: 0;
  }
}
