/* screen sizes */
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/* colors */
$theme-color: #599C04;
$theme-color-secondary: #a4d49f;
$almost-white: #FBFBFB;
$light-grey: #e6e6e6;
$error: #f99090;